
				<!-- Footer -->
					<section id="footer">
						<div class="inner">
							<h2 class="major">Get in touch</h2>
							<p>If you want to talk business or just chat it up, I'll be happy to hear from you!</p>
							<form method="post" action="https://formspree.io/liukaichi@gmail.com">
								<div class="field">
									<label for="name">Name</label>
									<input type="text" name="name" id="name" />
								</div>
								<div class="field">
									<label for="email">Email</label>
									<input type="email" name="_replyto" id="email" />
								</div>
								<div class="field">
									<label for="message">Message</label>
									<textarea name="message" id="message" rows="4"></textarea>
								</div>
								<ul class="actions">
									<li><input type="submit" value="Send" /></li>
								</ul>

								<input type="hidden" name="_subject" value="JL Portfolio Contact"/>
							</form>
							<ul class="contact">
								<a class="image"><img src="images/profile-pic.jpg" alt="" style="width:50%;"/></a>
                <li class="fa-envelope"><a href="mailto:liukaichi@gmail.com">liukaichi@gmail.com</a></li>
                <li class="fa-phone">+65 8781-7054</li>
								<li class="fa-github"><a href="https://github.com/liukaichi">github.com/liukaichi</a></li>
							</ul>
							<ul class="copyright">
								<li>&copy; Website by Justin Liu. All rights reserved.</li><li>Design derived from: <a href="http://html5up.net">HTML5 UP</a></li>
							</ul>
						</div>
					</section>
